<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84915219341-37afin2t7799otgoc0rd1li2prm6ionj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84915219341-37afin2t7799otgoc0rd1li2prm6ionj</string>
	<key>API_KEY</key>
	<string>AIzaSyCTVnTPA4wUyLG77Kw53ikys7Mu3giKQQw</string>
	<key>GCM_SENDER_ID</key>
	<string>84915219341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kroon.Kroonkiosk</string>
	<key>PROJECT_ID</key>
	<string>kroonkiosk</string>
	<key>STORAGE_BUCKET</key>
	<string>kroonkiosk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84915219341:ios:32f23fb8835664deb0abc4</string>
</dict>
</plist>